@model List<User>
    @* brought list of users with same zip code as logged user *@

@section Dashboard{
    <link rel="stylesheet" href="~/css/Dashboard.css">
}

<header id="Dash-header">
    <div class="wrapper nav">
        <div class="logo">
            <h1>Dashboard</h1>
        </div>
        <div class="nav-links">
            <ul>
                <li>
                    <a asp-action="Logout" asp-controller="Home">Logout</a>
                </li>
                <li>
                    <a asp-action="RequestForm" asp-controller="Home" id="request-btn" class="standout-btn">Make a request</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<section id="dash-main" class="wrapper">

    <table>
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Address</th>
                <th>Request Urgency</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                @if(user.RequestsCreated == null)
                {
                <tr>
                    <td>@user.FirstName @user.LastName</td>
                    <td>@user.City, @user.State</td>
                    @* <td>@u</td> *@
                    <td></td>
                    <td><a asp-action="Detail" asp-route-Uid="@user.UserId" class="view-btn">View</a></td>
                </tr>
                }
            }
        </tbody>
    </table>
</section>