@model User

@section Dashboard{
    <link rel="stylesheet" href="~/css/Dashboard.css">
}

<div class="image">
    <img src="@Model.ImageUrl" class="pic">
</div>
<p><span class="bold">Name: </span>@Model.FirstName @Model.LastName</p>
<p><span class="bold">Email: </span>@Model.Email</p>
<p><span class="bold">Phone: </span>@Model.PhoneNumber</p>
<p><span class="bold">Address: </span>@Model.Address1, @Model.City, @Model.State, @Model.ZipCode</p>